html, body, #root, .App {
    height: 100%
}

#socials-wrapper svg {
    transition: 0.4s;
}

#socials-wrapper svg {
    fill: white;
}

#socials-wrapper svg:hover {
    cursor: pointer;
}

#socials-wrapper a {
    display: inline-block;
}

#twitter-button:hover {
    fill: #1da1f2;
}

#youtube-button:hover {
    fill: #c4302b;
}

#github-button:hover {
    fill: #818181;
}

#discord-button:hover {
    fill: #7289da;
}